<p>Cuurent Hospitalizations: {{hospitalizations}}</p>
<p>New Cases in the last 24 hours: {{positiveIncrease}}</p>
<p>Total Positive Cases: {{positive}}</p>
<p>Total Deaths: {{death}}</p>
<p>Data last updated on: {{lastUpdateEt}}</p>


